/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--pink: #9d868d;
	--yellow: #f4d040;
	--green: hsl(85, 31%, 51%);
	--green2: hsl(113, 31%, 51%);
	--blue: #19567e;
	--black: #111111;
	--gray: #d8e4bc;
	--gray2: #d8e4bc2a;
}

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	color: var(--black);
	scroll-behavior: smooth;
	background-color: var(--gray2);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

input,
button,
textarea,
select {
	font: inherit;
}
/* Global styles */

label, input, textarea, select {
	display: block;
	width: 100%;
}

input, select, textarea {
	padding: 8px;
}

/* Components */

.display-none{
	display:none;
}

.btn-primary, .btn-secondary {
	padding: 12px 16px;
	display: inline-block;
	text-decoration: none;
	color: var(--black);
	border-radius: 4px;
}

.btn-primary {
	background-color: white;
	transition: all 0.3s ease
}
.btn-primary:hover {
	outline: 1px solid var(--black);
	box-shadow: 10px 5px 5px rgba(0,0, 0, 0.3);
	transform: translateY(-4px);
	/*background-color: var(--pink);*/

}

.btn-secondary {
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid white;
	transition: all 0.3s ease

}
.btn-secondary:hover {
	background-color: rgba(255, 255, 255, 1)
	;
}

/* Header */

.desktop-nav {
	display: none;
}

@media (min-width: 768px){
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header a {
		text-decoration: none;
		color:  var(--black);
	}

	.desktop-nav {
		display: block;
	}
	.mobile-nav {
		display: none;
	}

	header nav ul {
		display: flex;
		gap: 24px;
		margin-right: 16px
	}

	.hamburger-icon {
		display: none;
	}
}

.mobile-nav a {
	text-decoration: none;
	color: var(--black);
	display: block;
	padding: 16px 16px;
	text-align: right;
}

.logo, .hamburger-icon {
	height: 56px;
}

.mobile-header {
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header button{
    all:unset;
}

/* HERO */

#hero {
	display: flex;
	background-color: var(--gray);
	max-height: 200px;
	overflow: hidden;
}

#hero-image {
	object-fit: cover;
	height: 100%;
	width: 30%;
}

.my-info {
	width: 70%;
}

.my-info, .human-bg {
	max-height: 300px;
}

h1 {
	font-size: 2rem;
	padding: 40px;

}
p {
	font-size: 1rem;
	opacity: 0.7;
	font-weight: normal;
	padding-left: 40px;
	padding-bottom: 40px;
	max-width: 66%;
}



@media (min-width: 768px){
	section {
		display: flex;
		align-items: center;
		width: 100%;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		opacity: 0.7;
		font-weight: normal;
	}

}
/*quote*/

#quote h2{
	background-color: white;
	padding: 16%;
}
h3{
	font-size: 1rem;

}

/*human centred article*/

h2{
	text-align: center;
	color: var(--green);
	padding: 24px;
}


#human-centred article  {
	padding: 24px;
	margin: 4px;
	align-items: center;
	max-width: 50%;
	height 80px;
	background-color: var(--green);
}

#human-centred article .icon {
	height: 64px;
	margin: 24px;
	align-items: center ;
	color: #9d868d;
}

#human-centred article h3 {
	margin-bottom: 16px;
	color: var(--gray);
	text-align: center;
}

#human-centred article p {
	margin-bottom: 16px;
}



/*services*/

#services article{
	padding: 40px;
	flex: 1;
}
#services h3{
	padding: 0;
	max-width: fit-content;
	padding-top: 32px;
}
h2{
	padding: 0;
	text-align: center;
		padding-top: 40px;
		padding-bottom: 40px;
}
#services p{
	padding: 0;
	max-width: fit-content;
	padding-top: 16px;
}
/*experience*/
#experience .ux{
	background: white;
	margin: 16px;
}
#experience .design{
	background: white;
	margin: 16px;
}
#experience .programming{
	background: white;
	margin: 16px;
}
#experience .skills{
		background: white;
		margin: 8px;
	}

#experience h3{
	padding-bottom: 8px;
}	
#experience p{
	padding: 0;
	max-width: fit-content;
}


/*projects*/

#projects h2 {
	text-decoration: none;
	padding: 32px, 64px;
	text-align: center;
}


/* contacts*/


#contact {
	padding: 40px 16px;
}

#contact input, #contact select {
	margin-bottom: 16px;
}

#contact h2 {
	margin-bottom: 16px;
	text-align: center;
}

#contact input[type="submit"] {
	background-color: var(--pink);
	border: 0;
	margin-top: 8px;
	cursor: pointer;
}

/*bio*/

#bio-header img{
	max-width: 100%;
	box-align: center;
}